<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sparrow Photography</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="./" />
    <link rel="icon" type="image/svg+xml" href="{{ 'favicon.ico' | url }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav class="nav">
        <a class="logo" href="{{ '/' | url }}">
          <strong>Sparrow Photography</strong>
        </a>
      </nav>
    </header>
    <main>{{ content | safe }}</main>
    <footer>
      <p><em>Photos by Jack Sparrow. All rights reserved.</em></p>
    </footer>
  </body>
</html>
