@import './main.css';

.photo {
  position: relative;
}
.photo:hover img {
  box-shadow: var(--shadow-z4);
}

.photo > img.image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: var(--rounding);
}

/**
 * Grid Layout
 */

@media (min-width: 20rem) {
  #photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
  }
}

@media (min-width: 32rem) {
  #photos {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 42rem) {
  #photos {
    grid-template-columns: repeat(4, 1fr);
  }
}
