:root {
  --screen-sm: 20rem;
  --screen-md: 32rem;
  --screen-lg: 42rem;
  --spacing: 1rem;
  --rounding: 4px;
  --color-white: #ffffff;
  --color-black: #010b13;

  /* grays */
  --color-gray-01: #fbfcfd;
  --color-gray-02: #f7f9fa;
  --color-gray-05: #edeff0;
  --color-gray-10: #dfe1e2;
  --color-gray-20: #c6cace;
  --color-gray-30: #a9aeb1;
  --color-gray-40: #8d9297;
  --color-gray-50: #71767a;
  --color-gray-60: #565c65;
  --color-gray-70: #3d4551;
  --color-gray-80: #2d2e2f;
  --color-gray-90: #1c1d1f;

  /* blues */
  --color-blue-05: #e8f5ff;
  --color-blue-10: #cfe8ff;
  --color-blue-20: #a1d3ff;
  --color-blue-30: #58b4ff;
  --color-blue-40: #2491ff;
  --color-blue-50: #0076d6;
  --color-blue-60: #005ea2;
  --color-blue-70: #0b4778;
  --color-blue-80: #112f4e;

  /* box shadows */
  --shadow-z1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --shadow-z2: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --shadow-z3: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  --shadow-z4: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

html {
  background: var(--color-gray-01);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

body {
  position: relative;
  margin: 0 auto;
  max-width: 64em;
  padding: 0 var(--spacing);
  color: var(--color-gray-80);
}

a[href] {
  color: var(--color-blue-60);
  text-decoration: none;
}
a[href]:visited {
  color: var(--color-blue-70);
}
a[href]:focus,
a[href]:hover {
  outline: none;
  text-decoration: underline;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  line-height: 1;
  color: var(--color-white);
  background: var(--color-blue-60);
  border-radius: calc(1.5 * var(--rounding));
  border: none;
  padding: 0.75rem 2rem;
}
button:focus-visible {
  outline: var(--color-blue-40) 2px solid;
  outline-offset: 1px;
}
button:hover {
  box-shadow: var(--shadow-z4);
}

/**
 * Nav Menu
 */

.nav {
  text-transform: uppercase;
  padding: 1em 0;
}

/**
 * Footer
 */

footer {
  border-top: 1px solid var(--color-gray-05);
  margin-top: 5em;
}

/**
 * Responsive images
 */

img {
  max-width: 100%;
}

@media screen (min-width: 20rem) {
  body {
    padding: 0 calc(1.5 * var(--spacing));
  }
}

@media screen (min-width: 32rem) {
  body {
    padding: 0 calc(2 * var(--spacing));
  }
}
