---
layout: base
---

<h1>Sparrow Photography</h1>
<p>
  High-end photography from the Seven Seas, brought to you by world-famous
  photographer Captain Jack Sparrow.
</p>
<div id="photos">Loading...</div>

<script type="module" crossorigin>
  import { getPhotos } from '@/js/api'
  import { component } from '@/js/reactive'
  import { onePhoto } from '@/js/partials'
  import '@/css/home.css'

  function template(photos) {
    return photos.map((photo) => onePhoto(photo)).join('\n')
  }

  getPhotos().then((photos) => {
    component('#photos', () => template(photos))
  })
</script>
