---
layout: base
---

<h1>Sparrow Photography</h1>
<p>
  High-end photography from the Seven Seas, brought to you by world-famous
  photographer Captain Jack Sparrow.
</p>
<div id="app">Loading...</div>

<script type="module" crossorigin src="./js/home.js"></script>
