---
layout: base
---

<h1>Sparrow Photography</h1>
<p>
  High-end photography from the Seven Seas, brought to you by world-famous
  photographer Captain Jack Sparrow.
</p>
<div id="app">Loading...</div>

<script type="module" crossorigin>
  import { render } from 'https://cdn.jsdelivr.net/npm/reefjs@12/dist/reef.es.min.js'
  import { getPhotos } from '@/js/api'
  import '@/css/home.css'

  function template(photos) {
    const onePhoto = (photo) => `
  <div class="photo">
    <a href="./photo/?id=${encodeURIComponent(photo.id)}">
      <img alt="${photo.description}" src="${photo.url}" />
      <div>${photo.name}</div>
    </a>
  </div>`

    return `
  <div id="photos">
    ${photos.map((photo) => onePhoto(photo)).join('\n')}
  </div>`
  }

  const app = document.querySelector('#app')
  if (app)
    getPhotos().then((photos) => {
      render(app, template(photos))
    })
  else console.warn('No div#app found.')
</script>
