---
layout: base
---

<div id="app">Loading...</div>
<script type="module" crossorigin>
  import { getPhotos, getQueryPhoto, getPhotoById } from '@/js/api'
  import { addToCart, isInCart, removeFromCart } from '@/js/cart'
  import { getCurrencyString } from '@/js/helpers'
  import { component, watch } from '@/js/reactive'
  import '@/css/photo.css'

  const app = document.querySelector('#app')

  function template(photo) {
    if (!photo) return ''
    const price = getCurrencyString(photo.price)
    const cartButtonText = () =>
      isInCart(photo.id) ? 'Remove from Cart' : 'Add to Cart'

    const text = (photo) => `
    <div class="photo-single__info">
      <header class="photo-single__headline">
        <h1 class="photo-single__name">${photo.name}</h1>
        <span class="photo-single__price">${price}</span>
      </header>
      <p class="photo-single__description"> ${photo.description} </p>
      <button id="cartBtn" class="photo-single__cart-action" data-cartaction="${
        photo.id
      }">
        ${cartButtonText()}
      </button>
    </div>`

    const image = (photo) => `
    <div class="photo-single__image">
      <img alt="${photo.description}" src="${photo.url}" />
    </div>`

    return `<div class="photo-single">${image(photo)}${text(photo)}</div>`
  }

  function notFound() {
    return `
  <div class="photo-single--notfound">
    <h1>Not Found</h1>
    <p>Oh, oh. We could not find a photo matching those search parameters. Sorry!</p>
  </div>`
  }

  function handleCartAction(event) {
    const id = event.target?.dataset.cartaction
    if (!id) return
    const photo = getPhotoById(id)
    if (isInCart(id)) removeFromCart(id)
    else addToCart(id)
  }

  function activateCart() {
    document.addEventListener('click', handleCartAction)
  }

  if (app)
    getPhotos().then((photos) => {
      const photo = getQueryPhoto()
      const generator = () => {
        return photo ? template(photo) : notFound()
      }
      component(app, generator)
      activateCart()
    })
  else console.warn('No div#app found.')
</script>
