---
layout: base
---

<h1>Sparrow Photography</h1>
<p>
  High-end photography from the Seven Seas, brought to you by world-famous
  photographer Captain Jack Sparrow.
</p>
<hr />
<p>Checkout complete. Thank you for your purchase!</p>
<hr />

<script type="module">
  import '@/css/main.css'
</script>
