<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sparrow Photography</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="./" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script type="module" src="./assets/js/main.js"></script>
  </head>
  <body>
    <header>
      <nav class="nav">
        <a class="logo" href="index.html">
          <strong>Sparrow Photography</strong>
        </a>
      </nav>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      <p><em>Photos by Jack Sparrow. All rights reserved.</em></p>
    </footer>
  </body>
</html>
